	<section id="questionMake" class="col-md-12">
		<div class="col-md-8 col-md-offset-2 padraoBox">
			<div id="facaASuaPergunta" class="col-md-12">
				<div class="col-md-12">
					<h3>Qual é a sua dúvida?</h2>
				</div>
    			<%= render partial: "layouts/question" %>
			</div>
			
		</div>
	</section>

	<section id="topicos" class="col-md-12">
		<div class="col-md-8 col-md-offset-2 padraoBox">
			<div id="facaASuaPergunta" class="col-md-12">
				<div class="col-md-12">
					<h3>Perguntas</h3>
					<h4>FILTRAR POR:</h4>
				</div>
				<%= simple_form_for @topic, :url => dashboard_path, :method => "get" do |f| %>
					<div class="col-md-6" style="margin-top: 10px; text-align: left;">
						<h5 class="labelPadrao">Categoria:</h5>
						<%= f.association :category, :label => false, :placeholder => "Todas", collection: @categories, label_method: :nome, input_html: {class: "form-control col-md-9"} %>
					</div>
					<div class="col-md-6" style="margin-top: 10px; text-align: left;">
						<h5 class="labelPadrao">Subcategoria:</h5>
						<%= f.association :subcategory, :label => false, :placeholder => "Todas", collection: @subcategories, label_method: :nome, input_html: { class: "form-control col-md-9" } %>
					</div>
					<div class="col-md-12" style="margin-bottom: 20px; margin-top: 10px;">
						<%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
						<%= f.button :submit, "PESQUISAR", class: "btn btn-success bigDefaultButton" %>
					</div>
				<% end %>
				<div id="topicsJS">
	    			<%= render partial: "layouts/topics" %>
				</div>
			</div>
		</div>
	</section>

	<script type="text/javascript">
	//$(document).ready(function() {
	//	$("#sidebar-dashboard").height($("#mainBody").height());
	//});
	</script>