<section class="col-md-12">
	<div class="col-md-8 col-md-offset-2" style="padding-left: 0; margin-top: 20px; padding-right: 0;">
		<%= button_to "+ NOVO PROJETO", new_project_dashboard_path, :class => "btn btn-success bigDefaultButton", :id => "addProjeto", :method => :get %>
	</div>
	<div class="col-md-8 col-md-offset-2" style="padding-left: 0;">
		<h3>Projetos Cadastrados</h3>
	</div>
	<div class="col-md-8 col-md-offset-2 padraoBox filtro">
		<%= simple_form_for @project, :url => projects_dashboard_path, :method => "get" do |f| %>
			<div class="row">
				<div class="col-md-2">
					<p class="pBusca">BUSCA</p>
				</div>
				<div class="col-md-7">
					<%= f.input :titulo, :label => false, input_html: {:class=> "form-control col-md-12"} %>
				</div>
				<div class="col-md-3">
					<%= button_tag :class=> "btn btn-success bigDefaultButton botaoFiltros", :id => "botaoAtivarFiltros", :type => "button" do %>
						<%= "FILTROS"%>
					<% end%>
				</div>
			</div>
			<hr>
			<div class="col-md-12" id="caixaFiltros" style="display: none;">
				<div class="col-md-6" style="border-right: 1px solid #a2b6bc;" >
					<div class="col-md-12" style="text-align: left; padding-left: 0; padding-right: 0;">
						<p class="pInputs">DATA INÍCIO:</p>
						<%= f.input :datainicio, as: :string, required: false, label: false, input_html: { class: "datepicker form-control col-md-12" } %>
					</div>
					<div class="col-md-12" style="text-align: left; padding-left: 0; padding-right: 0; margin-top: 10px;">
						<p class="pInputs">DATA FINAL:</p>
						<%= f.input :datafim, as: :string, required: false, label: false, input_html: { class: "datepicker form-control col-md-12" } %>
					</div>	
					<div class="col-md-12" style="text-align: left; padding-left: 0; padding-right: 0; margin-top: 10px;">
						<p class="pInputs">STATUS:</p>
						<%= f.input :status, :as => :select, :collection => Project.statuses.keys, :label => false, input_html: { class: "form-control col-md-12"}, :include_blank => "Todos" %>
					</div>			
				</div>
				<div class="col-md-1"></div>
				<div class="col-md-6">
					<div class="col-md-12" style="text-align: left; padding-left: 0; padding-right: 0;">
						<p class="pInputs">NÚMERO DE PARTICIPANTES:</p>
						<%= f.input :max_users, required: false, label: false, input_html: { class: "form-control col-md-12" }, :include_blank => "Qualquer" %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12" style="margin-top: 20px;">
					<%= f.button :submit, "PESQUISAR", class: "btn btn-success bigDefaultButton" %>
				</div>
			</div>
		<% end %>
	</div>
</section>

<div id="projectsJS">
	<%= render partial: 'layouts/projectList' %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
  	$('.datepicker').datepicker({
  		format: "dd-mm-yyyy"
    });
  });
</script>
