<section id="topicPage">
<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
	<div class="col-md-12 boxBotaoVoltar">
		<%= link_to("< VOLTAR AOS PROJETOS" , projects_dashboard_path, :class => "btn btn-default pull-right btn1") %>
	</div>
	<div class="col-md-12 padraoBox">
		<div class="col-md-12" style="padding: 0; padding-top: 15px; padding-bottom: 15px;">
			<div class="data pull-left col-md-3">
				<%= image_tag(@user.avatar.url, :class => "img-circle img-responsive usuarioFotoTopic") %>
				<h3 class="usuarioInfo text-center"><%= @project.user.nome %></h3>
				<div class="text-center col-md-12 breakPaddingInput">
					<% if @project.status.to_i == 0 %>
						<%= image_tag('aberto') %>
					<% else %>
						<%= image_tag('finalizado') %>
					<% end %>
					<% if (@project.user_id == @user.id) %>
					<ul class="col-md-12 breakPaddingInput">
						<li><%= link_to("Editar", edit_project_dashboard_path(@project)) %></li>
						<li><%= link_to("Encerrar Projeto", close_project_path(@project)) %></li>
					</ul>
					<% end %>
				</div>
			</div>
			<div class="col-md-9">
				<h3 style="margin-bottom: 15px;"><%= @project.titulo %></h3>
				<div class="col-md-12 breakPaddingInput" style="margin-bottom: 25px;">
					<div class="col-md-6 breakPaddingInput" style="margin-left: 0;">
						<p><b>INÍCIO: </b><%= @project.datainicio.strftime('%d/%m/%y %R') %></p>
					</div>
					<div class="col-md-6 breakPaddingInput">
						<p><b>FIM: </b><%= @project.datafim.strftime('%d/%m/%y %R') %></p>
					</div>	
					<div class="col-md-12 breakPaddingInput" style="margin: 30px 0;">
						<p><%= @project.descricao %></p>
					</div>
					<div class="col-md-6 breakPaddingInput">
						<p><b>INSCRITOS:</b> <b style="color: #d76d39;"><%= @submissionsCount %> INSCRITO (S)</b> </p>
						<ul class="col-md-12 breakPaddingInput submissions">
							<% @members.each do |m| %>
								<li class="col-md-5"><%= image_tag(m.user.avatar.url, :class => "img-responsive img-circle") %></li>
							<% end %>
						</ul>
					</div>
					<div class="col-md-6 breakPaddingInput">
						<p><b>LIMITE:</b> <b style="color: #d76d39;"><%= @project.max_users %> ALUNO (S)</b></p>
					</div>
					<div class="col-md-12 breakPaddingInput">
						<b>ANEXO:</b>
						<b style="color: #cc6633; text-decoration: underline;"><%= link_to "Documentação", @project.documentation.url(:original, false), :style => "color: #cc6633;" %></b>
					</div>
					<div class="row">
					<div class="col-md-12 breakPaddingInput" style="margin-top: 20px;">
						<%= button_to "ENTRAR PARA O PROJETO", {:controller => "submissions", :action => "create", :project_id => @project.id, :user_id => @user.id}, :class => "bigDefaultButton btn btn-default" %>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

</div>
</section>


