<section id="topicPage">
<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
	<div class="col-md-12 boxBotaoVoltar">
		<%= link_to("< VOLTAR AOS PROJETOS" , projects_dashboard_path, :class => "btn btn-default pull-right btn1") %>
	</div>
	<div class="col-md-12 padraoBox">
		<div class="col-md-12" style="padding: 0; padding-top: 15px; padding-bottom: 15px;">
			<div class="data pull-left col-md-3">
				<%= image_tag(@user.avatar.url, :class => "img-circle img-responsive usuarioFotoTopic") %>
				<h3 class="usuarioInfo text-center"><%= @project.user.nome %></h3>
				<div class="text-center col-md-12 breakPaddingInput">
					<% if @project.status.to_i == 0 %>
						<%= image_tag('aberto') %>
					<% else %>
						<%= image_tag('finalizado') %>
					<% end %>
					<% if (@project.user_id == @user.id) %>
					<ul class="col-md-12 breakPaddingInput">
						<li><%= link_to("Editar", edit_project_dashboard_path(@project)) %></li>
						<li><%= link_to("Encerrar Projeto", close_project_path(@project)) %></li>
					</ul>
					<% end %>
				</div>
			</div>
			<div class="col-md-9">
				<h3 style="margin-bottom: 15px;"><%= @project.titulo %></h3>
				<div class="col-md-12 breakPaddingInput" style="margin-bottom: 25px;">
					<div class="col-md-6 breakPaddingInput" style="margin-left: 0;">
						<p><b>INÍCIO: </b><%= @project.datainicio.strftime('%d/%m/%y %R') %></p>
					</div>
					<div class="col-md-6 breakPaddingInput">
						<p><b>FIM: </b><%= @project.datafim.strftime('%d/%m/%y %R') %></p>
					</div>	
					<div class="col-md-12 breakPaddingInput" style="margin: 30px 0;">
						<p><%= @project.descricao %></p>
					</div>
					<div class="col-md-6 breakPaddingInput">
						<p><b>INSCRITOS:</b> <b style="color: #d76d39;"><%= @submissionsCount %> INSCRITO (S)</b> </p>
						<ul class="col-md-12 breakPaddingInput submissions">
							<% @members.each do |m| %>
								<li class="col-md-5"><%= image_tag(m.user.avatar.url, :class => "img-responsive img-circle") %></li>
							<% end %>
						</ul>
					</div>
					<div class="col-md-6 breakPaddingInput">
						<p><b>LIMITE:</b> <b style="color: #d76d39;"><%= @project.max_users %> ALUNO (S)</b></p>
					</div>
					<div class="col-md-12 breakPaddingInput">
						<b>ANEXO:</b>
						<b style="color: #cc6633; text-decoration: underline;"><%= link_to "Documentação", @project.documentation.url(:original, false), :style => "color: #cc6633;" %></b>
					</div>
					<div class="row">
					<div class="col-md-12 breakPaddingInput" style="margin-top: 20px;">
						<%= button_to "ENTRAR PARA O PROJETO", {:controller => "submissions", :action => "create", :project_id => @project.id, :user_id => @user.id}, :class => "bigDefaultButton btn btn-default" %>
					</div>
				</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Caixa de Resposta -->
	<% if (@project.status != 1) %>
	<div class="col-md-12 breakPaddingInput" id="answering" style="margin-top: 20px;">
		<%= simple_form_for @answer do |a| %>
			<%= a.input :descricao, as: :text, required: true, input_html: { class: "form-control col-md-9", style: "margin-bottom: 12px; background-color: #fff; height: 50px;" }, :label => false %>
			<%= a.input :user_id, as: :hidden, input_html: { value: @user.id } %>
			<%= a.input :project_id, as: :hidden, input_html: { value: @project.id } %>
			<%= a.button :submit, "RESPONDER", class: "btn btn-success col-md-4 pull-right bigDefaultButton", :controller => "answers" %>
		<% end %>
	</div>
	<% end %>

	
	<!-- Respostas (Answers) -->
	<div id="answersTopic">
	<div class="col-md-12 resetPadding">
		<div class="answersTopic">
			<h3>Outras Respostas (<%= @answersCount %>):</h3>
		</div>
	</div>
	<% @answers.each do |a| %>
	<div class="col-md-12 padraoBox">
		<div class="col-md-12 boxAnswer" style="padding: 0; padding-top: 15px; padding-bottom: 15px;">
			<div class="data pull-left col-md-2">
				<%= image_tag(a.user.avatar.url, :class => "img-circle img-responsive usuarioFotoTopic") %>
			</div>
			<div class="col-md-10">
				<div class="pull-right">
					<%= link_to image_tag('x', :class => "img-responsive"), {:controller => :answers, :action => :destroy, :id => a.id}, :method => :delete, data: {confirm: 'Ctz?'}, 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Excluir Resposta' %>
				</div>
				<h4><%= a.user.nome %></h4>
				<p><%= a.descricao %></p>
				<div class="acoes pull-right">
					<%= image_tag('vote-sim') %>
					<%= image_tag('vote-nao') %>
					<%= link_to image_tag('responder'), {:remote => true}, :onclick => "responderResposta(" + a.id.to_s + ")", :class => "responder", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Responder'  %>
				</div>
				<p><%#= t.subcategory.nome %></p>
			</div>
		</div>
	</div>

	<% @answersChild.each do |aC| %>
		<% if (a.id == aC.answer_id) %>
			<div class="col-md-10 padraoBoxInverse pull-right">
				<div class="col-md-12 boxAnswer" style="padding: 0; padding-top: 15px; padding-bottom: 15px;">
					<div class="data pull-left col-md-2">
						<%= image_tag(aC.user.avatar.url, :class => "img-circle img-responsive usuarioFotoTopic") %>
					</div>
					<div class="col-md-10">
						<div class="pull-right">
							<%= link_to image_tag('x', :class => "img-responsive"), {:controller => :answers, :action => :destroy, :id => aC.id}, :method => :delete, data: {confirm: 'Ctz?'}, 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Excluir Resposta' %>
						</div>
						<h4><%= aC.user.nome %></h4>
						<p><%= aC.descricao %></p>
						<div class="acoes pull-right">
							<%= image_tag('vote-sim') %>
							<%= image_tag('vote-nao') %>
							<%= link_to image_tag('responder'), {:remote => true}, :onclick => "responderResposta(" + aC.id.to_s + ")", :class => "responder", 'data-toggle': 'tooltip', 'data-placement':'top', title: 'Responder'  %>
						</div>
						<p><%#= t.subcategory.nome %></p>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>

	<div class="col-md-9 breakPaddingInput pull-right" style="display: none;" id="caixaDeResposta_<%= a.id %>">
		<%= simple_form_for @answer do |an| %>
			<%= an.input :descricao, as: :text, required: true, input_html: { class: "form-control respostaParaResposta", style: "margin-bottom: 12px; height: 80px" }, :label => false %>
			<%= an.input :user_id, as: :hidden, input_html: { value: @user.id } %>
			<%= an.input :topic_id, as: :hidden, input_html: { value: nil } %>
			<%= an.input :answer_id, as: :hidden, input_html: { value: a.id } %>
			<%= an.button :submit, "RESPONDER", class: "btn btn-success bigDefaultButton col-md-5 pull-right", :controller => "answers" %>
		<% end %>
	</div>

	<!-- teste -->
	

	<% end %>
		
	</div>
	</div>
</div>
</section>


