<%= link_to"+ Novo Projeto", new_project_dashboard_path %>
<section id="topicos" class="col-md-12">
	<div class="col-md-8 col-md-offset-2 padraoBox">
		<div id="facaASuaPergunta" class="col-md-12">
			<%= simple_form_for @project do |f| %>
				<div class="col-md-6" style="margin-top: 10px; text-align: left;">
					<p>DATA INÍCIO:</p>
					<%= f.input :datainicio, label: false, input_html: {class: "form-control col-md-9"} %>
				</div>
				<div class="col-md-6" style="margin-top: 10px; text-align: left;">
					<p>DATA FINAL:</p>
					<%= f.input :datafim, label: false, input_html: { class: "form-control col-md-9" } %>
				</div>
				<div class="col-md-12" style="margin-bottom: 20px; margin-top: 10px;">
					<%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
					<%= f.button :submit, "PESQUISAR", class: "btn btn-success botaoPesquisarDuvida" %>
				</div>
			<% end %>

		</div>
	</div>
</section>

<section id="topicos" class="col-md-12">
	<div id="facaASuaPergunta" class="col-md-9 col-md-offset-1">
		<% @projects.each do |p| %>
			<div class="box-projects">
				<div class="dataProjeto pull-left col-md-3">
					<%= image_tag('ronaldo-default', :class => "img-circle img-responsive usuarioFotoTopic") %>
					<p class="text-center">
						<b><%= p.user.nome %></b>
					</p>
				</div>
				<div class="text pull-left col-md-9">
					<div class="col-md-8" style="padding: 0; margin: 0;">
					</div>
					<div class="col-md-4" style="padding: 0; margin: 0;">
						<div class="pull-right">
						<%#= link_to("Editar", edit_topic_dashboard_path(t)) %>
						<%= p.status == 0 ? image_tag('aberto') : image_tag('finalizado') %>
					</div>
					</div>
					<p><%= link_to p.titulo, show_project_dashboard_path(p) %></p>
					<p id="corpo-topic"><%= truncate(p.descricao, :length => 120) %></p>
					<p><%#= t.subcategory.nome %></p>
				</div>
			</div>
		<% end %>
	</div>
</section>