<section class="col-md-12">
	<div class="col-md-8 col-md-offset-2" style="padding-left: 0; margin-top: 20px; padding-right: 0;">
		<%= button_to "+ NOVO PROJETO", new_project_dashboard_path, :class => "btn btn-success bigDefaultButton", :id => "addProjeto" %>
	</div>
	<div class="col-md-8 col-md-offset-2" style="padding-left: 0;">
		<h3>Projetos Cadastrados</h3>
	</div>
	<div class="col-md-8 col-md-offset-2 padraoBox filtro">
		<%= simple_form_for @project do |f| %>
			<div class="row">
				<div class="col-md-2">
					<p class="pBusca">BUSCA</p>
				</div>
				<div class="col-md-7">
					<%= f.input :titulo, :label => false, input_html: {:class=> "form-control col-md-12"} %>
				</div>
				<div class="col-md-3">
					<%= button_to "FILTROS", nil, :class=> "btn btn-success bigDefaultButton" %>
				</div>
			</div>
			<hr>


			<div class="col-md-6">
				<div class="col-md-12" style="text-align: left; padding-left: 0; padding-right: 0;">
					<p class="pInputs">DATA INÍCIO:</p>
					<%= f.input :datainicio, as: :string, required: false, label: false, input_html: { class: "datepicker form-control col-md-12" } %>
				</div>
				<div class="col-md-12" style="text-align: left; padding-left: 0; padding-right: 0; margin-top: 10px;">
					<p class="pInputs">DATA FINAL:</p>
					<%= f.input :datafim, as: :string, required: false, label: false, input_html: { class: "datepicker form-control col-md-12" } %>
				</div>	
				<div class="col-md-12" style="text-align: left; padding-left: 0; padding-right: 0; margin-top: 10px;">
					<p class="pInputs">DATA FINAL:</p>
					<%= f.input :status, :as => :select, :collection => Project.statuses.keys %>
				</div>			
			</div>

			<div class="row">
				<div class="col-md-12" style="margin-top: 20px;">
					<%= f.button :submit, "PESQUISAR", class: "btn btn-success bigDefaultButton" %>
				</div>
			</div>
		<% end %>
	</div>
</section>

<section class="col-md-12" style="margin-top: 15px;">
	<div class="col-md-8 col-md-offset-2 padraobox" style="padding-left: 0 !important; padding-right: 0 !important;">
		<% @projects.each do |p| %>
			<div class="box-projects">
				<div class="dataProjeto pull-left col-md-3">
					<%= image_tag('ronaldo-default', :class => "img-circle img-responsive usuarioFotoTopic") %>
					<p class="text-center">
						<b style="padding: 10px 0;"><%= p.user.nome %></b>
						<%= p.status == 0 ? image_tag('aberto') : image_tag('finalizado') %>
					</p>
				</div>
				<div class="text pull-left col-md-9">
					<div class="col-md-4" style="padding: 0; margin: 0;">
						<div class="pull-right">
						<%#= link_to("Editar", edit_topic_dashboard_path(t)) %>
					</div>
					</div>
					<h4><%= link_to p.titulo, show_project_dashboard_path(p) %></h4>
					<p>DATA INÍCIO: <%= p.datainicio %></p>
					<p>DATA FINAL: <%= p.datafim %></p>
					<p id="corpo-topic"><%= truncate(p.descricao, :length => 120) %></p>
					<p><%#= t.subcategory.nome %></p>
					<div class="infos-bottom">
						<div class="col-md-6" style="padding-left: 0 !important;">
							<p class="pLaranja pull-left">INSCRITOS: </p><b class="pull-left"> 0 ALUNOS</b>
						</div>
						<div class="col-md-6" style="padding-left: 0 !important;">
							<p class="pLaranja pull-left">LIMITE: </p><b class="pull-left"> 8 INTEGRANTES</b>
						</div>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</section>

<script type="text/javascript">
  $(document).ready(function(){
  	$('.datepicker').datepicker({
  		format: "dd-mm-yyyy"
    });
  });
</script>
