<section id="topicPage">
<div class="col-md-12">
	<div class="col-md-8 col-md-offset-2">
	<div class="col-md-12 boxBotaoVoltar">
		<%= link_to("< VOLTAR AS DÚVIDAS" , dashboard_path, :class => "btn btn-default pull-right bigDefaultButton col-md-4") %>
	</div>
	<div class="col-md-12 padraoBox">
		<div class="col-md-12" style="padding: 0; padding-top: 15px; padding-bottom: 15px;">
			<div class="data pull-left col-md-3">
				<%= image_tag(@topic.user.avatar.url, :class => "img-circle img-responsive usuarioFotoTopic") %>
				<h3 class="usuarioInfo text-center"><%= @topic.user.nome %></h3>
				<div class="text-center col-md-12 breakPaddingInput">
						<% if @topic.status.to_i == 0 %>
							<%= image_tag('aberto') %>
						<% else %>
							<%= image_tag('finalizado') %>
						<% end %>
					<% if (@topic.user_id == @user.id) %>
						<ul class="col-md-12 breakPaddingInput">
							<li><%= link_to("Editar", edit_topic_dashboard_path(@topic)) %></li>
							<li><%= link_to("Fechar Tópico", close_topic_path(@topic)) %></li>
						</ul>
					<% end %>
				</div>
			</div>
			<div class="col-md-9">
				<h3 style="margin-bottom: 15px;"><%= @topic.titulo %></h3>
				<h4 style="margin-bottom: 25px;">
					<%= @topic.category.nome %>
					>
					<%= @topic.subcategory.nome %>	
				</h4>
				<p><%= @topic.descricao %></p>
				<p><%#= t.subcategory.nome %></p>
			</div>
		</div>

	</div>

	<!-- Caixa de Resposta -->
	<% if (@topic.status != 1) %>
	<div class="col-md-12 breakPaddingInput" id="answering" style="margin-top: 20px;">
		<%= simple_form_for @answer, remote: true do |a| %>
			<%= a.input :descricao, as: :text, required: true, input_html: { class: "form-control col-md-9", style: "margin-bottom: 12px; background-color: #fff; height: 50px;" }, :label => false %>
			<%= a.input :user_id, as: :hidden, input_html: { value: @user.id } %>
			<%= a.input :topic_id, as: :hidden, input_html: { value: @topic.id } %>
			<%= a.button :submit, "RESPONDER", class: "btn btn-success col-md-4 pull-right bigDefaultButton", :controller => "answers" %>
		<% end %>
	</div>
	<% end %>


	<!-- Respostas (Answers) -->
	<div id="answersJS">
		<%= render partial: 'layouts/answers' %>
	</div>
</div>
</div>
</section>


