<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @topic.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @topic.descricao %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user %>
</p>

<p>
  <strong>Status:</strong>
  <%= @topic.status %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @topic.tipo %>
</p>

<p>
  <strong>Category:</strong>
  <%= @topic.category %>
</p>

<p>
  <strong>Subcategory:</strong>
  <%= @topic.subcategory %>
</p>

