<section id="info-about-perfil">
	<div class="container-fluid">
		<div class="col-md-3 perfil-categorias">
			<h4>Sobre</h4>
			<p class="text-left"><%= @user.about %></p>
		</div>
		<div class="col-md-3 perfil-categorias">
			<h4>Projetos</h4>
			<% @projects.each do |t| %>
			<div class="duvidasBoxPerfil">
				<h5 class="text-left no-margin"><b><%= link_to (t.project.titulo), show_project_dashboard_path(t.project.id) %></b></h5>
				<p class="text-left"><%= t.project.descricao.first(20) %></p>
			</div>
			<% end %>
		</div>
		<div class="col-md-3 perfil-categorias">
			<h4>Dúvidas</h4>
			<% @topics.each do |t| %>
			<div class="duvidasBoxPerfil">
				<h5 class="text-left no-margin"><b><%= link_to (t.titulo), show_topic_dashboard_path(t.id) %></b></h5>
				<p class="text-left"><%= t.descricao.first(20) %></p>
			</div>
			<% end %>
		</div>
		<div class="col-md-3 perfil-categorias">
			<h4>Respostas</h4>
			<% @answers.each do |a| %>
			<div class="duvidasBoxPerfil container" style="margin-top: 5px;">
				<div class="col-md-4">
					<%= image_tag(a.topic.user.avatar.url, :class => "img-responsive img-circle") %>
				</div>
				<div class="col-md-8 breakPaddingInput">
					<h5 class="text-left no-margin"><b><%= link_to (a.topic.titulo), show_topic_dashboard_path(a.topic.id) %></b></h5>
					<p class="text-left"><%= a.descricao %></p>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</section>
