<div class="col-md-12" style="padding: 0;">
	<%= simple_form_for @topic do |f| %>
		<div class="col-md-6" style="margin-top: 10px; text-align: left;">
			<%= f.association :category, label: 'Categoria', collection: @categories, label_method: :nome, input_html: {class: "form-control col-md-9", placeholder: "Categoria"} %>
		</div>
		<div class="col-md-6" style="margin-top: 10px; text-align: left;">
			<%= f.association :subcategory, label: 'Subcategoria', collection: @subcategories, label_method: :nome, input_html: { class: "form-control col-md-9", placeholder: "Subcategoria" } %>
		</div>
		<div class="col-md-12" style="margin-top: 10px;">
			<%= f.input :titulo, required: true, input_html: { class: "form-control col-md-9" } %>
		</div>
		<div class="col-md-12" style="margin-top: 10px;">
			<%= f.input :descricao, as: :text, required: true, input_html: { class: "form-control col-md-9" } %>
		</div>
		<div class="col-md-12" style="margin-bottom: 20px; margin-top: 10px;">
			<%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
			<%= f.button :submit, "ENVIAR A SUA DÚVIDA", class: "btn btn-success botaoEnviarDuvida", :onclick => "abrirModalDuvidaEnviada()", :id => "botaoEnviarDuvida" %>
		</div>
	<% end %>
</div>