<%= render partial: 'caixaSobre' %>

<section>
	<div class="col-md-3" id="sidebar-dashboard">
		<div class="col-md-12" id="profile-photo">
			<%= image_tag @user.avatar.url, :class => "img-responsive profile_avatar" %>
		</div>
		<div class="col-md-12" id="caixa-none">
			<div class="text-center" id="alterarFoto">
				<%= simple_form_for current_user, :url => {:action => "updateAvatar", :controller => "users/registrations"}, :method => "post", :html => { :multipart => true } do |f| %>
					<%= f.input :avatar, label: false, as: :file %>
					<%= f.submit "Alterar", :class => "col-md-6 bigDefaultButton btn btn-default" %>
				<% end %>
			</div>
		</div>
		<div class="col-md-10 col-md-offset-1" id="profile-info">
			<div class="name-curso">
				<h2><%= link_to @user.nome.to_s + " " + @user.sobrenome.to_s, perfil_show_path(@user.id) %></h2>
				<p>Sistemas de Informação</p>
			</div>
<!-- 			<div class="score">
				<%= image_tag("star.png", class: "pull-left", style: "margin-right: 20px;") %>
				<p>Score</p>
				<p>520 pt</p>
			</div>
 -->			<div class="about">
				<p>Sobre - <%= link_to "Editar", nil, :onclick=>"editarSobre()", remote: true %></p>
				<p class="text">
					<br>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ipsam consequuntur facere explicabo voluptate accusantium facilis voluptates mollitia fugiat illum labore beatae perferendis, quod, saepe nam quas, exercitationem recusandae eum.
				</p>
			</div>
		</div>
	</div>
</section>