<h3>Perguntas</h3>

<h4>FILTRAR POR:</h4>

<%= simple_form_for @topic do |f| %>
	<div class="col-md-6" style="margin-top: 10px; text-align: left;">
		<%= f.association :category, label: 'Categoria', collection: @categories, label_method: :nome, input_html: {class: "form-control col-md-9"} %>
	</div>
	<div class="col-md-6" style="margin-top: 10px; text-align: left;">
		<%= f.association :subcategory, label: 'Subcategoria', collection: @subcategories, label_method: :nome, input_html: { class: "form-control col-md-9" } %>
	</div>
	<div class="col-md-12" style="margin-bottom: 20px; margin-top: 10px;">
		<%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
		<%= f.button :submit, "PESQUISAR", class: "btn btn-success botaoPesquisarDuvida" %>
	</div>
<% end %>
<div class="col-md-12">
	<% @topics.each do |t| %>
		<div class="box-topics">
			<div class="data pull-left col-md-3">
				<%= image_tag('ronaldo-default', :class => "img-circle img-responsive usuarioFotoTopic") %>
				<p class="text-center"><%= t.created_at.strftime("%d/%m/20%y") %></p>
			</div>
			<div class="text pull-left col-md-9">
				<div class="col-md-8" style="padding: 0; margin: 0;">
					<p><b><%= t.user.nome %></b></p>
				</div>
				<div class="col-md-4" style="padding: 0; margin: 0;">
					<div class="pull-right">
					<%#= link_to("Editar", edit_topic_dashboard_path(t)) %>
					<%= t.status == 0 ? image_tag('aberto') : image_tag('finalizado') %>
				</div>
				</div>
				<p><%= link_to t.titulo, show_topic_dashboard_path(t) %></p>
				
				
				<p id="corpo-topic"><%= truncate(t.descricao, :length => 120) %></p>
				<p><%#= t.subcategory.nome %></p>
			</div>
		</div>
	<% end %>
</div>