<!DOCTYPE html>
<html>
  <head>
    <title>Internshipin - Dashboard</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    
  </head>

  <body>
    <%= render partial: "layouts/nav" %>
    <%= render partial: "layouts/sidebar" %>
    <section id="mainBody" class="col-md-9">
      <%= yield %>
    </section>
  </body>
  
</html>
